# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and large files generated during execution
cache/
cache_test/
models_test/
*.parquet

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# Local OS files
desktop.ini
.DS_Store
Thumbs.db
